* {
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--text-color);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5rem;
}

/* custom scroll bar */
:root {
  --main-color: #ff2c1f;
  --text-color: #020307;
  --bg-color: #fff;
}


body {
  font-family: 'Poppins', sans-serif;
  background: var(--text-color);
  color: var(--bg-color);
}